@import "imports/defaults";
@import "imports/font";
@import "imports/colors";

@import "imports/form";
@import "imports/buttons";
@import "imports/inputs";
@import "imports/selectors";
@import "imports/headings";
@import "imports/anchor";
@import "imports/labels";
@import "imports/tabs";
@import "imports/menu";

%clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

$topbar-height: 4rem;
$sidebar-size: 250px;