%button {
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: $base-radius;
	font-weight: 400;
	text-transform: uppercase;
	cursor: pointer;
	@extend  %input-layout;
	@extend  %input-transition;
}

%button-mini {
	padding: 0.6rem 1.4rem;
	font-size: 0.8 * $base-font-size;
}

%button-primary {
	border-color: $base-color;
	color: $base-light;
	background: $base-color;
}

%button-secondary {
	border-color: #edf0f1;
	color: #bfbfbf;
	background: white;
}

%button-cancel {
	border-color: $base-light;
	color: $base-shadow;
	background: $base-light;
}

%button-disabled {
	&[disabled] {
		border-color: $background-light;
		color: #999;
		background: $background-light;
	}
}