%input {
	display: inline-block;
	margin: 0;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	font-weight: 400;
	border-radius: $base-radius;
	@extend  %input-transition;
}

%input-line {
	width: 100%;
}