%input {
	display: inline-block;
	padding: 1rem 3.5rem;
	font-size: $base-font-size;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	font-weight: 400;
	border-radius: $base-radius;
	transition: background .2s ease-out;
}

%input-mini {
	padding: 0.6rem 1.4rem;
	font-size: 12/15 * $base-font-size;
}

%input-line {
	width: 100%;
}