@import "base";

.main-menu {
	li {
		display: block;
	}

	a {
		display: block;
		padding: 1rem 2.5rem;
		font-weight: 400;
		font-family: $branding-font;
		font-size: 0.75 * $base-font-size;
		color: $base-shadow;
		background: $background-light;
		text-decoration: none;
		transition: all 0.2s ease-out;
	}

	a:hover,
	a:focus,
	a:active {
		background: lighten($base-color, 5%);
		color: $base-light;
	}
}