<div class="page search">
	<header>Resultados da busca</header>

	<section class="results">
		<div class="search-tags" filters="filters" search-tags></div>
		<div person="person" ng-repeat="person in results"></div>
	</section>
	<aside>
		<h3>Filtros</h3>
		<form>
			<div class="control-group">
				<label class="label">Nome</label>
				<input type="text" ng-model="search.name" class="mini input line" />
			</div>

			<div class="control-group">
				<label class="label">Sexo</label>
				
				<div class="radio-group">
					<input type="radio" name="gender" ng-model="search.gender" value="{{GENDER_MALE}}" />
					<label>Masculino</label>

					<input type="radio" name="gender" ng-model="search.gender" value="{{GENDER_FEMALE}}" />
					<label>Feminino</label>
				</div>
			</div>

			<div class="control-group height">
				<label class="label">Altura (cm)</label>
				<div class="half left">
					<small>Mínimo</small>
					<input type="number" ng-model="search.minHeight" class="mini input" step="1" placeholder="Ex: 130" />
				</div>
				<div class="half">
					<small>Máximo</small>
					<input type="number" ng-model="search.maxHeight" class="mini input" step="1" placeholder="Ex: 190" />
				</div>
			</div>
			<div class="button-group">
				<button type="submit" class="small primary button" ng-click="updateSearch()">Pesquisar</button>
			</div>
		</form>
	</aside>
</div>