@import "base";

.input {
	@extend %input;
	@extend %input-layout;
	border-color: $base-light;
	background-color: darken(white, 2%);
	color: $background-dark;

	&:focus {
		background-color: white;
		color: $base-shadow;
	}

	&.mini {
		@extend %input-layout-mini;
	}

	&.line {
		@extend %input-line;
	}
}

